@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.news {
    margin-left: 16px;
    width: 450px;
    background-color: cornflowerblue;

    &__item {
        padding: 4px 8px;
    }

    &__title {
        font-size: 16px;
    }

    &__date {
        margin-top: 10px;
        font-size: 12px;
    }

    &__content {
        margin-top: 14px;
        font-size: 14px;
        font-weight: 600;
    }

    ul,
    &__tag-list {
        margin-top: 12px;
        list-style: inside;
    }

    li,
    &__tag-item {
        float: left;
        font-size: 14px;
        padding-right: 4px;

        &::marker {
            content: '#';
        }
    }
}
